.clients {
    margin: auto;
    width: fit-content;
}

.bg-image-clients {
    background:
        linear-gradient(rgba(2, 47, 78, 0.7),
            rgba(2, 47, 78, 0.7)),
        url('/assets/images/our_clients.png');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    // height: 780px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fs-4{
    font-size: 50px !important;
}