.about {
  margin: auto;
  width: fit-content;
}

.bg-image-about {
  background:
    linear-gradient(rgba(2, 47, 78, 0.7),
      rgba(2, 47, 78, 0.7)),
    url('/assets/images/about_us.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  // width: 1000px;
  // height: 650px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 820px) {
  .bg-image-about {
    height: 400px;
  }
}

.info-card {

  // border-radius: 10px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .icon-container {
    i {
      font-size: 3rem;
      color: #08AE2C;
    }
  }
}

.value-card {
  // background: #f8f9fa;
  // border-radius: 10px;
  height: 100%;
  transition: all 0.3s ease;

  &:hover {
    // background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  .value-icon {
    i {
      font-size: 2.5rem;
      color: #08AE2C;
    }
  }
}