.me-3 {
    margin-left: 1rem !important;
}
.me-2 {
    margin-left: 0.5rem !important;
}
/* Bootstrap RTL Overrides */

/* Global Direction and Alignment */
body {
  direction: rtl;
  text-align: right;
}

.text-start {
  text-align: right !important;
}
.text-end {
  text-align: left !important;
}

/* Modify Margin and Padding */
.me-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.ms-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}

.pe-auto {
  padding-left: auto !important;
  padding-right: 0 !important;
}
.ps-auto {
  padding-right: auto !important;
  padding-left: 0 !important;
}

/* Navbar and Flex Adjustments */
.navbar {
  flex-direction: row-reverse !important;
}

.navbar-nav {
  margin-right: auto !important;
  margin-left: 0 !important;
}

.dropdown-menu {
  text-align: right !important;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Form Inputs */
input, select, textarea {
  text-align: right;
  padding-right: 1rem;
}

/* Buttons */
.btn-group {
  direction: rtl !important;
}

.language-switcher {
  margin-right: 12rem !important;
  margin-left: 0rem !important;
}