<div class="m-5 p-2" id="services">
  <div class="row bg-light services" id="services">
    <div class="col-md-6 col-sm-12 bg-image-services text-primary">
      <h1 class="fw-bold mb-4 text-center display-4">{{ 'SERVICES.TITLE' | translate }}</h1>
      <h3>{{ 'SERVICES.DESCRIPTION' | translate }}</h3>
    </div>
    <div class="col-lg-6 col-md-12">
      <section class="services-list py-2">
        <div class="container">
          <div class="row g-4">
            <div class="col-md-6 col-lg-4 col-sm-12" *ngFor="let service of services; let i = index">
              <div class="service-card h-100 p-4 rounded shadow-sm hover-lift card" [class.animate-delay-1]="i === 1"
                [class.animate-delay-2]="i === 2" [class.animate-delay-3]="i === 3" [class.animate-delay-4]="i === 4"
                [class.animate-delay-5]="i === 5" [class.animate-delay-6]="i === 6">
                <div class="service-icon mb-3">
                  <!-- <i class="bi bi-graph-up-arrow text-primary fs-1"></i> -->
                  <i class="bi" [ngClass]="service.icon"></i>
                </div>
                <h4 class="fw-bold mb-3">{{ 'SERVICES.' + service.key + '.TITLE' | translate }}</h4>
                <p class="text-muted mb-3">{{ 'SERVICES.' + service.key + '.DESCRIPTION' | translate }}</p>
                <ul class="list-unstyled" *ngFor="let benefit of service.benefits; let i = index">
                  <li><i class="bi bi-check-circle-fill text-success me-2"></i><span>{{ 'SERVICES.' + service.key +
                      '.BENEFITS.' + benefit | translate }}</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>


  <div class="row mt-5 bg-secondary">
    <div class="col-12 text-center">
      <div class="p-5 rounded shadow">
        <h3 class="fw-bold mb-3" data-translate="services_cta_title">هل أنت مستعد لتحويل استراتيجية الموارد البشرية
          الخاصة بك؟</h3>
        <p class="lead mb-4" data-translate="services_cta_subtitle">دعنا نناقش كيف يمكن لخدماتنا أن تساعد مؤسستك على
          النجاح.</p>
        <a href="#contact" class="btn btn-primary btn-lg hover-lift">احجز
          استشارة</a>
      </div>
    </div>
  </div>

</div>